/**
 * Table Of Content
 *
 * 	1. Globals
 *	2. Headers
 *	3. Navigations
 *	4. Banners
 *	5. Footers
 *	6. app
 *	7. Widgets
 *	8. Custom Templates
 */

@import "variable";
@import "~/node_modules/bootstrap/scss/bootstrap";
@import "../scss/icons/font-awesome/css/font-awesome.min.css";
@import "../scss/icons/themify-icons/themify-icons.css";
@import "elements.scss";
@import "app.scss";
@import "common.scss";
@import "responsive.scss";

/* custom css */
html {
    scroll-behavior: smooth;
}

.static-slider10, .banner-color {
    background-color: #895c4c !important;
}

.spacer {
    padding: 45px 0 !important;
}

.hover-grey:hover {
    color: #000 !important;
}

.products-home-comp {
    background-color: #edd2d2;
}

.static-banner-home, .banner-section {
    padding-top: 150px !important;
}

.h2-nav .navbar-nav .nav-item:last-child {
    margin-right: 20px;
}

.article-para {
    color: #1f2126;
    font-size: 18px;
}

.article-main-div {
    padding: 50px 0px;
}

.info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #895c4c;
    color: #fff;
}

.info-wrap .dbox .text {
    width: calc(100% - 50px);
    font-size: 19px;
    line-height: 1.8;
    padding-top: 13px;
}

.info-wrap .dbox .text span {
    color: #1e1e1e;
    font-weight: 500;
}

.info-wrap .dbox .text p {
    color: #444444;
}

.info-wrap .dbox .text a {
    text-decoration: none;
    color: #444444;
}

.info-wrap .dbox .text a:hover {
    color: #1e1e1e;
}

.blank-header{
    background: #895c4c !important;
    height: 118px;
}

.text-decoration-line-through {
    text-decoration: line-through !important;
}

.add-to-cart-btn:hover {
    color: #fff;
    background-color: #2a2a2a;
    border-color: #2a2a2a;
}

input.add-to-cart-quantity{
    max-width: 4rem; 
    display: inline-flex;
    height: 52px;
}

.product-tabs ul.nav-tabs .nav-link{
    padding: 1rem 1.5rem;
}
.product-tabs ul.nav-tabs .active.nav-link {
    border: 0px;
    border-bottom: 2px solid #000;
}
.product-tabs .tab-content .tab-pane{
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    min-height: 200px;
}
.contact-main-div {
    padding: 50px 0px !important;
}
.contact-main-div .card .card-header{
    color: #1f2126;
}
.static-slider-head.page-404{
    background-color: #895c4c !important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.topbar {
    background: #895c4c !important;
}
.mobile-menu-on {
    .page-wrapper, .footer4{
        opacity: 0.4;
    }
}
@media (max-width: 1023px) {
    .page-wrapper {
        padding-top: 124px;
    }
    .static-banner-home, .banner-section {
        padding-top: 20px !important;
    }
    .article-para {
        font-size: 15px !important;
    }
}
@media (max-width: 991px) {
    .h2-nav .navbar-nav .nav-item {
        border-bottom: 1px solid #dcdcdc !important;
    }
    .h2-nav .navbar-nav .nav-item:last-child {
        border-bottom: 0px !important;
        padding-bottom: 15px;
    }
}